body {
    background-color: rebeccapurple !important;
}

/* === for mobile screen== */

@media screen and (max-width:670px) {
    body {
        overflow-x: hidden;
    }
        .padding {
            margin: 0 auto;
            padding: 0 2em;
        }
}