* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100vw;
    background: linear-gradient(#FBEFFF, #F9E2F4);
}

h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -2px;
}

.hollow-h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #004E89;
    -webkit-text-fill-color: #FBEFFF;
}

header {
    margin-top: 142px;
}

h2 {
    margin-left: 120px;
    font-size: 70px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -1.33px;
}

h3 {
    margin-left: 695px;
    font-size: 55px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #004E89;
    -webkit-text-fill-color: #FBEFFF;
}

/* navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #004E89;
    font-family: 'Roboto', sans-serif;
  }
  
  .logo {
    padding: 0 30px;
    color: #DA4167;
    font-family: 'Bitter', serif;
    font-size: 35px;
    font-weight: bolder;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FBEFFF;
    height: 106px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 20px 75px;
    position: relative;
    font-size: 25px;
  }
  
  nav ul li :hover{
    font-weight: bolder;
  }
  
  /* navbar-ends */

button {
    background-color: #DA4167;
    font-size: 30px;
    /* remove margin after whole page styled */
    margin-right: 50px;
    margin-left: 50px;
    /* remove margin after whole page styled */
    border-radius: 20px;
    border-top-left-radius: 0px;
    outline: none;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 18px;
    transition: transform 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* start cupcake page */

.cupCakeContainer {
    margin: 0 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #002E52;
}

.cupCakes {
    display: flex;
    flex-wrap: wrap;
}

.cupCakeCard {
    width: 310px;
    height: 443px;
    background-color: rgba(255, 255, 255, 0.76);
    /* background-color: #fff; */
    border-radius: 10%;
    margin: 30px
}

.cupCakeCard img {
    width: 310px;
    height: 310px;
    border-radius: 10%;
    object-fit: cover;
}

.cupCakeCardDesc {
    margin: 30px 40px;
}


/* end cupcake page */


/* start about page css */

.aboutContainer {
    margin: 0 120px;
    font-family: 'Roboto', sans-serif;
}

.aboutHeader {
    display: flex;
    justify-content: space-around;
}

.aboutHeaderTxt {
    width: 600px;
    text-align: left;
}

.aboutHeaderTxt p {
    font-size: 25px;
    line-height: 2;
    color: #002E52;
}

.headerImage {
    width: 490px;
    height: 541px;
    border-radius: 5%;
    overflow: hidden;
}

.headerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMainIngredient {
    color: #002E52;
    font-size: 25px;
}

.aboutCardWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.aboutCard {
    width: 287px;
    height: 406px;
    text-align: center;
    background: rgba(255, 255, 255, 0.644);
    padding: 20px;
    color: #004E89;
    font-size: 25px;
    margin: 10px;
    border-radius: 10%;
}

.aboutCardTitle {
    font-weight: 500px;
}

.aboutCardIcon {
    font-size: 140px;
    color: #DA4167;
}

.aboutCardDesc {
    text-align: left;
}

footer .socialIcon {
    font-size: 40px;
}

footer {
    color: #002E52;
    font-size: 25px;
}

footer p {
    display: inline-block;
    width: 500px;
    text-align: center;
}


/* end about page css */
