* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100vw;
    background: linear-gradient(#FBEFFF, #F9E2F4);
}

h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -2px; 
}

.hollow-h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #004E89;
    -webkit-text-fill-color: #FBEFFF;
}

header {
    margin-top: 142px;
}

h2 {
    margin-left: 120px;
    font-size: 70px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -1.33px;
}

.cupcakes-h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 695px;
    font-size: 55px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #004E89;
    -webkit-text-fill-color: #FBEFFF;
}

/* navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #004E89;
    font-family: 'Roboto', sans-serif;
  }
  
  .logo {
    padding: 0 30px;
    color: #DA4167;
    font-family: 'Bitter', serif;
    font-size: 35px;
    font-weight: bolder;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FBEFFF;
    height: 106px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 20px 75px;
    position: relative;
    font-size: 25px;
  }
  
  nav ul li :hover{
    font-weight: bolder;
  }
  
  /* navbar-ends */


/* button */

button {
    background-color: #DA4167;
    font-size: 30px;
    /* remove margin after whole page styled */
    margin-right: 50px;
    margin-left: 50px;
    /* remove margin after whole page styled */
    border-radius: 20px;
    border-top-left-radius: 0px;
    outline: none;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* button-ends */

/* start cupcake page */

.cupCakeContainer {
    margin: 0 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #002E52;
}

.cupCakes {
    display: flex;
    flex-wrap: wrap;
}

.cupCakeCard {
    width: 310px;
    height: 443px;
    background-color: rgba(255, 255, 255, 0.76);
    /* background-color: #fff; */
    border-radius: 10%;
    margin: 30px;
    position: relative;
}

.oneRoundCupCake{
    width: 564px;
    height: 640px;
    border-radius: 10% 0 0 0;
    object-fit: cover;
}

.roundedCupCake{
    width: 526px;
    height: 526px;
    border-radius: 10%;
    object-fit: cover;
}

.cupCakeCard:hover .cupcake-shadow {
    /* display: block; */
    opacity: 100%;
}

.cupCakeCard img {
    width: 310px;
    height: 310px;
    border-radius: 5%;
    object-fit: cover;
}

.cupCakeCardDesc {
    margin: 30px 40px;
}

.cupcake-shadow {
    width: 100%;
    height: 70%;
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    border-radius: 10%;
    top: 0%;
    cursor: pointer;
    color: white;
    padding: 30px;
    padding-top: 100px;
    opacity: 0%;
    transition: 300ms; 
    text-align: center;
}

/* end cupcake page */


/* start about page css */

.aboutContainer {
    margin: 0 120px;
    font-family: 'Roboto', sans-serif;
}

.aboutHeader {
    display: flex;
    justify-content: space-around;
}

.aboutHeaderTxt {
    width: 600px;
    text-align: left;
}

.aboutHeaderTxt p {
    font-size: 25px;
    line-height: 2;
    color: #002E52;
}

.headerImage {
    margin-left: 10px;
    width: 490px;
    height: 541px;
    border-radius: 5%;
    overflow: hidden;
}

@media screen and (max-width : 1000px) {
    .aboutHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.headerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMainIngredient {
    color: #002E52;
    font-size: 25px;
}

.aboutCardWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.aboutCard {
    width: 287px;
    height: 406px;
    text-align: center;
    background: rgba(255, 255, 255, 0.644);
    padding: 20px;
    color: #004E89;
    font-size: 25px;
    margin: 10px;
    border-radius: 10%;
}

.aboutCardTitle {
    font-weight: 500px;
}

.aboutCardIcon {
    font-size: 140px;
    color: #DA4167;
}

.aboutCardDesc {
    text-align: left;
}

/* end about page css */


/* footer */

.footer {
    background-color: #F5DEF0;
    padding-top: 39px;
    margin-top: 100px;
    height: 120px;
    width: 947px;
    border-radius: 0px 180px 0px 0px;
    opacity: 1;
}

.footer-img-fb {
    height: 40px;
    width: 40px;
    margin: auto 20px auto 120px;
}

.footer-img-insta {
    height: 40px;
    width: 40px;
    margin: auto 20px;
}

.footer-img-twitter {
    height: 40px;
    width: 40px;
    margin: auto 185px auto 20px;
}

.copyright {
    font-size: 25px;
    color: #002E52
}

/* footer-ends */
