* {
  margin: 0;
  padding: 0;
}

body {

    margin: 0;
    width: 100%;
    max-width: 100vw;
    background: linear-gradient(#FBEFFF, #F9E2F4);
}
.homepage{
    color: #002E52;
    font-size : 25px;
    font-family: 'Roboto' ,sans-serif;
}
h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
}

.hollow-h1 {
    margin-left: 120px;
    font-size: 105px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
    color: #FBEFFF;
    text-shadow: -2px -2px 1px #004E89, 2px -2px 1px #004E89, -2px 2px 1px #004E89, 2px 2px 1px #004E89;
}

header {
    margin-top: 142px;
}

h2 {
    margin-left: 120px;
    font-size: 70px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    letter-spacing: -1.33px;
}

.cupcakes-h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 695px;
    font-size: 55px;
    font-family: 'Bitter', serif;
    color: #004E89;
    font-weight: bolder;
    color: #FBEFFF;
    text-shadow: -2px -2px 1px #004E89, 2px -2px 1px #004E89, -2px 2px 1px #004E89, 2px 2px 1px #004E89;

  margin: 0;
  width: 100%;
  max-width: 100vw;
  top: 0px;
  left: 0px;
  background: linear-gradient(#FBEFFF, #F9E2F4)

}

/* navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #004E89;
    font-family: 'Roboto', sans-serif;
  }

  .button{
      color: white;
  }
 .Cupcakes{
      color: #002E52;
     font-weight: 900;
     font-size: 35px;
     font-family: 'Roboto' , sans-serif;
}

  .logo {
    padding: 0 30px;
    color: #DA4167;
    font-family: 'Bitter', serif;
    font-size: 35px;
    font-weight: bolder;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FBEFFF;
    height: 106px;
    z-index: 5;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    padding: 20px 75px;
    position: relative;
    font-size: 25px;
  }

  nav ul li :hover{
    font-weight: bolder;
  }

/* navbar-ends */



h1 {
  margin-left: 120px;
  font-size: 105px;
  font-family: "Bitter", serif;
  color: #004e89;
  font-weight: bolder;
}

.hollow-h1 {
  margin-left: 120px;
  font-size: 105px;
  font-family: "Bitter", serif;
  font-weight: bolder;
  color: #fbefff;
  text-shadow: -2px -2px 1px #004e89, 2px -2px 1px #004e89, -2px 2px 1px #004e89,
    2px 2px 1px #004e89;
}

/* ryan start */
.container {
  margin-top: 175px;
  /* margin: 120px; */
  margin-left: 120px;
  margin-right: 120px;

}

.container1{
  margin-top:200px;  
}

.left-header{
  position:relative;
  left: 50px;
  top: 90px;
  width:50%;
  
}

.header-image{    
  width: 1200px;
  height: 900px;
  background: #F9E2F4 padding-box;
  border-radius: 180px 0px 0px 0px;
  opacity: 1;
  display: block;
  position: relative;
  margin-left:auto;
  z-index: -1;
  bottom: 500px;
  margin-top: -10%;
  margin-right: -7.2%;
}

.oneRoundCupCake{    
  width: 700px;
  height: 800px;
  border-radius: 40px 0px 0px 0px;    
  background: #F9E2F4 padding-box;
  margin-left: auto;
  right:0;
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 0;
}

.p-description1 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #002E52;
  letter-spacing: -.47px;
  opacity: 1;
  font: normal normal normal 25px/48px Roboto;
  top: 527px;
  left: 120px;
  width: 526px;
  height: 177px;
  margin-top: 47px;
  margin-left: 120px;
  font-weight: bold;
}

.p-description2 {
  font-family: "Roboto", sans-serif;
  text-align:left;
  color:#002E52;
  letter-spacing: -.47px;
  opacity: 1;
  font: normal normal normal 25px/48px Roboto;
  top: 1370px;
  left: 695px;
  width: 505px;
  height: 181px;
  font-weight:bold;
}

.header-button{
  position: relative;
  margin: 50px 120px;
}

.white-text{
  font-size: 20px;
  color:white;
}

h2 {
  margin-left: 120px;
  font-size: 70px;
  font-family: "Bitter", serif;
  color: #004e89;
  font-weight: bolder;
  letter-spacing: -1.33px;
}

.cupcakes-h2 {
  margin-left: 30px;
}

h3 {
  margin-left: 695px;
  font-size: 55px;
  font-family: "Bitter", serif;
  color: #004e89;
  font-weight: bolder;
  color: #fbefff;
  text-shadow: -2px -2px 1px #004e89, 2px -2px 1px #004e89, -2px 2px 1px #004e89,
    2px 2px 1px #004e89;
}

.container2 {
  margin: 0 30px;
  position: relative;
  margin-top: -25%;
  
}

/* ryan end */

/* button */

button {
  background-color: #da4167;
  font-size: 30px;
  /* remove margin after whole page styled */
  margin-right: 50px;
  margin-left: 50px;
  /* remove margin after whole page styled */
  border-radius: 20px;
  border-top-left-radius: 0px;
  outline: none;
  border: none;
  padding: 15px 40px;
  color: white;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* button-ends */

/* start index page */

#bigPreview {
    margin: 0 120px;
    height: 526px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 50px; 
}

#bigPreview img {
    float: left;
    align-self: center;
}

#bigPreview h3 {
  padding-top: 20px;
  margin-left: 45%;
}

#bigPreview p {
  color: #002E52;
  padding-top: 20px;
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 48px;
  margin-left: 45%;
}

/* start cupcake page */

.cupCakeContainer {
  margin: 0 120px;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #002e52;
}

.cupCakes {
  display: flex;
  flex-wrap: wrap;
}

.cupCakeCard {
    width: 310px;
    height: 443px;
    background-color: rgba(255, 255, 255, 0.26);
    /* background-color: #fff; */
    border-radius: 10%;
    margin: 30px;
    position: relative;
}

.roundedCupCake{
    width: 526px;
    height: 526px;
    border-radius: 10%;
    object-fit: cover;
    object-position: bottom;
}

.cupCakeCard:hover .cupcake-shadow {
  /* display: block; */
  opacity: 100%;
}

.cupCakeCard img {
    width: 310px;
    height: 310px;
    border-radius: 10%;
    object-fit: cover;
}

.cupCakeCardDesc {
  margin: 30px 40px;
}

.cupcake-shadow {
    width: 100%;
    height: 70%;
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    border-radius: 10%;
    top: 0%;
    cursor: pointer;
    color: white;
    padding: 30px;
    padding-top: 100px;
    opacity: 0%;
    transition: 300ms;
    text-align: center;
}

/* end cupcake page */

/* start about page css */

.about-h1 {
  margin-left: 0;
}

.about-hollow-h1 {
  margin-left: 0;
}

/* sulledy221 about page code */

.about-p {
  margin-top: 10px;
}

.about-p-ingredient {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 140px;
}

.about-list-ingredient {
  margin-bottom: 15px;
  margin-left: 160px;
}

.about-html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 0;
}
/* sulledy221 about page code */

.about-h2 {
  margin-left: 0;
  margin-bottom: 15px;
  padding: 30px;
}

.aboutContainer {
  margin: 0 120px;
  font-family: "Roboto", sans-serif;
}

.aboutHeader {
  display: flex;
  justify-content: space-around;
}

.aboutHeaderTxt {
  width: 600px;
  text-align: left;
}

.aboutHeaderTxt p {
  font-size: 25px;
  line-height: 2;
  color: #002e52;
}

.headerImage {
  margin-left: 10px;
  width: 490px;
  height: 541px;
  border-radius: 5%;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .aboutHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutMainIngredient {
  color: #002e52;
  font-size: 25px;
}

.aboutCardWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.aboutCard {
  width: 287px;
  height: 406px;
  text-align: center;
  background: rgba(255, 255, 255, 0.644);
  padding: 20px;
  color: #004e89;
  font-size: 25px;
  margin: 10px;
  border-radius: 10%;
}

.aboutCardTitle {

    font-weight: 500;

  font-weight: 500px;

}

.aboutCardIcon {
  font-size: 140px;
  color: #da4167;
}

.aboutCardDesc {
  text-align: left;
}

/* end about page css */

/* start contact page css */

.contactHeader header h2 {
  margin-left: 0px;
}

.contactMain {
  display: flex;
}

  /* Form & Bakery hours */
  .form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
  }
    
  .form h4, .form label, .aboutTimings h4, .aboutTimings p{
    color: #002E52;
    font-size : 25px;
    font-family: 'Roboto' ,sans-serif;
  }

  .form h4, .aboutTimings h4, .aboutTimings p:last-child {
    margin-bottom: 10px;;
  }

  .form label, .aboutTimings p {
    margin-top: 10px;
  }

  input, textarea {
    border-radius: 15px;
    font-size : 25px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
  }


  input[type="submit"] {
    background-color: #DA4167;
    color: #ffffff;
    border-top-left-radius: 0px;
    max-width: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input:focus, textarea:focus{
    outline: 2px solid #DA4167;
  }

  label span.inputRequired {
    color: #DA4167;
  }

  ::placeholder { 
    color: #A3B4C1;
    opacity: 1; 
    font-family: 'Roboto' ,sans-serif;
  }

  ::-ms-input-placeholder { 
    color: #A3B4C1;
    font-family: 'Roboto' ,sans-serif;
  }  

  :-ms-input-placeholder { 
    color: #A3B4C1;
    font-family: 'Roboto' ,sans-serif;
  }    

  .timeContainer {
    max-width: 400px;
  }

  .timeContainer p {
    display: flex;
  }

  .timeContainer p .time{
    margin-left: auto;
  }

/* end contact page css */

/* footer */

.footer {
  background-color: #f5def0;
  padding-top: 39px;
  margin-top: 100px;
  height: 120px;
  width: 947px;
  border-radius: 0px 180px 0px 0px;
  opacity: 1;
}

.footer-img-fb {
  height: 40px;
  width: 40px;
  margin: auto 20px auto 120px;
}

.footer-img-insta {
  height: 40px;
  width: 40px;
  margin: auto 20px;
}

.footer-img-twitter {
  height: 40px;
  width: 40px;
  margin: auto 185px auto 20px;
}

.copyright {

    font-size: 25px;
    color: #002E52;

  font-size: 25px;
  color: #002E52;
  text-align:left;
  font-family: "Roboto", sans-serif;
  font-weight:bold;

}

/* footer-ends */
